@import url(css/background.css);
@import url(css/navbar.css);

#home {
  display: block;
  height: 100vh;
}

hero-section {
  display: flex;
  align-items: center;
  height: 100%;
}

hero-content {
  width: 50%;
  margin-left: 40px;
}

footer {
  background-color: var(--dim);
  opacity: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.hero-header {
  font-size: 50px;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}

@media (max-width: 1000px) {
  hero-content {
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .hero-header {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: -0.02em;
  }
}